<!DOCTYPE html>
<html>
  <head>
    <title>Spades</title>
    <meta name="description" content="An online spades game!">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fspadesfavicon.ico?1489793638929" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/cards.css">
    <script src="/bundle.js" defer></script>
  </head>
  <body>
    <div id="root">
      <!-- This div's content will be managed by React. -->
    </div>

  </body>
</html>
