.c-2♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F2_of_diamonds.svg?1494724195682");
}

.c-2♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F2_of_clubs.svg?1494724195737");
}

.c-2♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F2_of_hearts.svg?1494724195775");
}

.c-2♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F2_of_spades.svg?1494724196941");
}

.c-3♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F3_of_diamonds.svg?1494724196965");
}

.c-3♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F3_of_clubs.svg?1494724197294");
}

.c-3♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F3_of_hearts.svg?1494724197326");
}

.c-3♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F3_of_spades.svg?1494724197148");
}

.c-4♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F4_of_diamonds.svg?1494724197251");
}

.c-4♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F4_of_clubs.svg?1494724197188");
}

.c-4♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F4_of_hearts.svg?1494724197500");
}

.c-4♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F4_of_spades.svg?1494724197414");
}

.c-5♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F5_of_diamonds.svg?1494724197557");
}

.c-5♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F5_of_clubs.svg?1494724197785");
}

.c-5♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F5_of_hearts.svg?1494724197377");
}

.c-5♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F5_of_spades.svg?1494724197678");
}

.c-6♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F6_of_diamonds.svg?1494724197100");
}

.c-6♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F6_of_clubs.svg?1494724195704");
}

.c-6♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F6_of_hearts.svg?1494724197015");
}

.c-6♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F6_of_spades.svg?1494724197451");
}

.c-7♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F7_of_diamonds.svg?1494724197615");
}

.c-7♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F7_of_clubs.svg?1494724197850");
}

.c-7♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F7_of_hearts.svg?1494724197909");
}

.c-7♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F7_of_spades.svg?1494724197729");
}

.c-8♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F8_of_diamonds.svg?1494724229448");
}

.c-8♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F8_of_clubs.svg?1494724229217");
}

.c-8♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F8_of_hearts.svg?1494724234462");
}

.c-8♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F8_of_spades.svg?1494724236197");
}

.c-9♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F9_of_diamonds.svg?1494724234934");
}

.c-9♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F9_of_clubs.svg?1494724235792");
}

.c-9♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F9_of_hearts.svg?1494724235538");
}

.c-9♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F9_of_spades.svg?1494724235134");
}

.c-10♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F10_of_diamonds.svg?1494724235021");
}

.c-10♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F10_of_clubs.svg?1494724235297");
}

.c-10♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F10_of_hearts.svg?1494724235424");
}

.c-10♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2F10_of_spades.svg?1494724236044");
}

.c-J♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fjack_of_diamonds.svg?1494724717011");
}

.c-J♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fjack_of_clubs.svg?1494724284030");
}

.c-J♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fjack_of_hearts.svg?1494724719879");
}

.c-J♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fjack_of_spades.svg?1494724720091");
}

.c-Q♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fqueen_of_diamonds.svg?1494724283757");
}

.c-Q♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fqueen_of_clubs.svg?1494724314738");
}

.c-Q♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fqueen_of_hearts.svg?1494724284322");
}

.c-Q♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fqueen_of_spades.svg?1494724283488");
}

.c-K♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fking_of_diamonds.svg?1494724684791");
}

.c-K♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fking_of_clubs.svg?1494724313690");
}

.c-K♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fking_of_hearts.svg?1494724284594");
}

.c-K♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fking_of_spades.svg?1494724285705");
}

.c-A♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Face_of_diamonds.svg?1494724236347");
}

.c-A♣︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Face_of_clubs.svg?1494724235916");
}

.c-A♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Face_of_hearts.svg?1494724235679");
}

.c-A♠︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Face_of_spades.svg?1494724236489");
}