 * {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

li, ul {
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
}

#info {
  background-color: white;
  width: 35%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#prompt {
  border: 2px solid black;
  border-radius: 10px;
  padding: .5em;
}

#prompt {
  text-align: center;
}

#prompt > h2 {
  margin: .25em;
}

#game {
  background-color: green;
  width: 65%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

#table {
  font-size: 50%;
}

#hand ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 0px;
  margin: 5px;
}

.card {
  padding: 20px 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card p {
  background-color: #EEE;
  padding: 5px;
  border: 1px dotted #BBB;
}

.suit-hearts, .suit-diamonds {
  color: red; 
}

.suit-clubs, .suit-spades {
  color: black;
}

/* Temp: */

ul.players-hands {
  display: inline-block;
}

ul.players-hands li {
  display: inline-block;
  padding: 5px;
}

