* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

p {
}

#messages {
  margin: 1em;
  padding: 1em;
  border: 1px dotted #8F8F8F;
  max-height: 10em;
  overflow: scroll;
  
}

.message {
  margin: .5em;
}

.message .time {
  font-size: 60%;
  color: #4F4F4F;
}

#cards {
  margin: 1em;
  padding: 1em;
  border: 1px dashed #888;
}

#cards ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

.♥︎ {
  color: red;
}

.♦︎ {
  color: red;
}