* {
  box-sizing:   padding: 40px 23border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

p {
}

#messages {
  margin: 1em;
  padding: 1em;
  border: 1px dotted #8F8F8F;
  max-height: 10em;
  overflow: scroll;
  
}

.message {
  margin: .5em;
}

.message .time {
  font-size: 60%;
  color: #4F4F4F;
}

#cards {
  margin: 1em;
  padding: 1em;
  border: 1px dashed #888;
}

#cards ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 0px;
  margin: 10px;
}

.♥︎ {
  color: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 39px 23px;
}

.♦︎ {
  color: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-  padding: 40px 2position: center;
  padding: 39px 23px;
}

.K♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fking_of_hearts.svg?1494724284594")
}

.K♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fking_of_diamonds.svg?1494724684791")
}

.Q♥︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fqueen_of_hearts.svg?1494724284322")
}

.Q♦︎ {
  background-image: url("https://cdn.glitch.com/f1c1b1c7-56d6-4be8-ae6a-a78dc0c9b29a%2Fquee1494724283757")
}